
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');


html, body {
    background-color: #15202B;
    font-family: 'Baloo Paaji 2', cursive;
    max-width: 100%;
    overflow-x: hidden;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 15px;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0;
    background: #273144
    ; 
}


/* sppiner */
.spinner-icon {
    position: fixed;
    top: 50%;
    left: 50%;
}
