.i-global {
    color: var(--secondary-bg-color);
}


/* tabel title */
.tabel-title {
    color: #fff;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    background-color: #202E3C;
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
}
.tabel-title i {
    margin-right: 5px;
    color: var(--secondary-bg-color);
}


.news-card .card-body h5 {
    font-size: 17px;
}
.card-body .fa {
    font-size: 14px;
}
.news-card .card-body .card-title {
    color: #fff
}
.news-card .card-body .card-text {
    color: #d7d7d7
}
.news-card .news-date {
   color: #bdbdbd;
}